body {
  margin: 0;
  font-family: Arial;
  direction: rtl;
  background-color: seashell;
}

header {
  text-align: center;
  background-color: maroon;
  color: seashell;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 32px 16px;
  z-index: 1000;
  margin-bottom: 100px;
}

main{
    margin-top: 180px;
    margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}





.survival-card {
  border: 1px solid blue;
  border-radius: 12px;
  padding: 20px;
  margin: 32px auto;
  max-width: 900px;
  background-color: white;
  direction: rtl;
}

.card-footer {
  color: red;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-text-section {
  flex: 1;
}

.card-topic {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-text {
  font-size: 16px;
  line-height: 1.6;
}

.card-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
}





footer{
    background-color: maroon;
    color: seashell;
    text-align: center;
    padding: 16px;
}



@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
  }
}